<!DOCTYPE html>
<html>
<head>
  <title>{{ inventory_hostname }}</title>
</head>
<body>
  <h1>Group Members</h1>
  <ul>
    <li>Faizal Rahman Saffiudeen</li>
    <li>Reham Garaween</li>
    <li>Smriti Banjadee</li>
    <li>Esha Nikhil Chawda</li>
  </ul>
  <img src="https://s3.amazonaws.com/your-bucket-name/image.jpg" alt="Group Photo">
</body>
</html>